.card-container {
  max-width: 25rem;
  max-height: 20rem;
}
.card-thumbnail {
  max-height: 14rem;
  margin-bottom: 1rem;
}
/* TODO: fix aspect change on mobile */
.card-thumbnail img {
  margin: 0;
  width: 100%;
  max-width: 25rem;
  max-height: 14rem;
  object-fit: cover;
  border-radius: 0.625rem;
}
.card-content-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.title {
  font-size: 1.125rem;
}
.logname {
  font-size: 0.75rem;
  color: #ff9f5c;
}
.card-hr {
  margin: 0.3rem 0px;
  color: #a6a6a6;
}
.card-extra {
  display: flex;
  margin: 0.3rem 0px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}
.statics {
  font-weight:500;
  color: #777777;
}
.icons{
  margin-left:.75rem;
}
.author {
  font-weight: 500;
}
