.container {
  margin: 0px;
}
.thumbnail {
  /* max-width: 500px; */
  border-radius: 10px;
  overflow: hidden;
  isolation: isolate;
}

.content {
  margin: 5px;
}

/* @media screen and (min-width: 40em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
} */
.list {
  margin-top: 30px;
  text-align: left;
  padding: 20px;
}

.title {
  /* padding: 20px; */
  display: flex;
}
