/* mobile */
.container {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: repeat(auto-fill, minmax(100px, 3fr));
}

/* desktop */
@media all and (min-width: 766) {
    
}

.header {
  height: 100px;
  padding: 30px 320px 30px;
  background-color: #fff;
}
